.parentContainer {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-body)
  );
}

.mapToggle {
  background-color: transparent;
  padding: 0;
}

.mapToggle:hover {
  background-color: transparent;
}

.container {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-body)
  );
  gap: var(--mantine-spacing-md);
  align-items: flex-start;
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
