.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  position: sticky;
  top: -2px;
  z-index: 10;
  background-color: light-dark(#fbfbfb, var(--mantine-color-dark-8));
}
