.container {
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  box-shadow: var(--mantine-shadow-md);
  border-width: 1px;
  border-color: var(--mantine-color-gray-2);
  margin-bottom: 1rem;
}

.mapContainer {
  width: '100%';
  z-index: 0;
  margin: 0;
}
